{
    "singleAttributePerLine": false,
    "bracketSameLine": true,
    "overrides": [
        {
            "files": "*.pretierrc",
            "options": {
                "parser": "json"
            }
        }
    ],
    "plugins": ["prettier-plugin-organize-imports"]
}
