{
    "singleAttributePerLine": false,
    "bracketSameLine": true,
    "arrowParens": "avoid",
    "overrides": [
        {
            "files": "*.pretierrc",
            "options": {
                "parser": "json"
            }
        }
    ]
}
